<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>New</title>
    <link th:href="@{styles/style.css}" rel="stylesheet"/>
</head>
<body>
<form method="post" action="#" th:action="@{/new}" th:object="${user}">
    <label>
        <input type="text" placeholder="Имя" th:field="*{name}">
    </label>
    <label>
        <input type="text" placeholder="Город" th:field="*{city}">
    </label>
    <label>
        <input type="checkbox" th:field="*{married}">
        <span>В браке</span>
    </label>
    <input type="submit" value="Создать"/>
</form>
</body>
</html>